main{
    width:1100px;
    margin:0 auto;
}
.choices, .again{
    z-index:1;
    display: none;
    position:absolute;
    width: 1100px;
    top:400px;
}
.active{
    display:flex;
    justify-content: space-around;
}